.container-2{
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20vh;
    margin-left: 5vw;
}

.container-2 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1.3vw,15px);
}

.btn-contact{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 3px solid var(--mainColor1);
    font-family: bauhau93;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s;
    margin: 40px;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-contact.active::before{
    content: "Copied";
    font-size: 15px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 60px;
    height: 25px;
    background-color:var(--mainColor1);
    padding-top: 5px;
    text-align: center;
    top: -45px;
    border-radius: 10px;   
}

.btn-contact.active::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--mainColor1);
    transform: rotate(45deg);
    top: -20px;
}

.btn-contact:hover{
    background-color: var(--mainColor1);
    transform: translateY(-5px);
}

