*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

@font-face{
    font-family: bauhau93;
    src: url('./BAUHS93.ttf') format('truetype');
}

:root{
    --mainColor1: #885DD7;
    --mainColor2: #1a1a1a;

}

#paper-background{
background-color: var(--mainColor2);
pointer-events: none;
position: absolute;
top: 0;
left: 0;
z-index: -1;
width: 100vw;
height: 400vh;
overflow-x: hidden;
}

#scroll-page{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.page{
    width: calc(100vw - 20px);
    height: calc((100vh - 20px));
}

::-webkit-scrollbar{
    width: 6px;
    background-color: var(--mainColor2);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 2px;
    background-color: var(--mainColor1);
    border: 2px solid var(--mainColor2);
}