@font-face{
    font-family: bauhau93;
    src: url('Bauhaus 93.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --mainColor1: #885DD7;
    --mainColor2: #1a1a1a;

}

body,html{
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

#name-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#paper-background{
    background-color: var(--mainColor2);
    pointer-events: none;
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 400vh;


}

#matter-background{
    width: 100vw;
    height: calc(4 * var(-vh));
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;;
    z-index: -1;
}




#scroll-page{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: var(--vh);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;


}

.page{
    width: 100vw;
    height: var(--vh);
    scroll-snap-align: start;
}

#scroll-page::-webkit-scrollbar{
    width: 6px;
    background-color: var(--mainColor2);
    position: absolute;
}

#scroll-page::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 2px;
    background-color: var(--mainColor1);
    border: 2px solid var(--mainColor2);
}