@font-face{
    font-family: bauhau93;
    src: url('Bauhaus 93.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --mainColor1: #885DD7;
    --mainColor2: #1a1a1a;

}

body,html{
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: calc(var(--vh) * 4);
    background-color: var(--mainColor2);
}

#name-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#paper-background{
    background-color: var(--mainColor2);
    pointer-events: none;
    position: absolute;
    width: 100vw;
    height: 400vh;


}

#matter-background{
    width: 100vw;
    height: calc(4 * var(-vh));
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;
}




#scroll-page{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: var(--vh);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;


}

.cond-title{
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 1000;
    color: white;
    font-family: bauhau93;
    font-size: min(12vw, 150px);
    pointer-events: none;
    visibility: hidden;
}

#cond1{
    top: 27%;
    left: 5%;
}

#cond2{
    top: 75%;
    left: 5%;
}

#cond3{
    top: 85%;
    left: 50%;
}

#cond4{
    top: 0;
    left: 5%;
}



.page{
    width: 100vw;
    position: relative;
    height: var(--vh);
    scroll-snap-align: start;
    position: relative;
    display: flex;
}

#scroll-page::-webkit-scrollbar{
    width: 6px;
    background-color: var(--mainColor2);
    position: absolute;
}

#scroll-page::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 2px;
    background-color: var(--mainColor1);
    border: 2px solid var(--mainColor2);
}

@media screen and (max-width: 480px) {

    .cond-title{
        visibility: visible;
    }
  }

/* animate */
[data-anime] {
    opacity: 0;
    transition: .8s;
}

[data-anime='left']{
   transform: translate3d(-70px, 0,0); 
}

[data-anime='right']{
    transform: translate3d(70px, 0,0); 
 }

 [data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
 }