
.main-text{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: fit-content;
    position: relative;
    gap: min(15vw, 150px);
    top:25%;
    overflow: visible;
}

.text-main:nth-child(1){
    margin-left: 5%;
    font-size: max(2vw, 30px);
    font-family: bauhau93;
}

.text-main:nth-child(2){
    margin-left: 10%;
    font-size: max(3vw, 40px);
    font-family: bauhau93;
    overflow: visible;
}


.link-grade{
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: calc(100vh - 100px);
    display: flex;
    gap: 10px;
    overflow: visible;
}

.link-box{
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    font-size: 40px;
    text-decoration: none;
    color: var(--mainColor2);
    height: 60px;
    background-color: var(--mainColor1);
    border-radius: 30px;
    transition: 0.3s;
    overflow: visible;
}

.link-box p{
    font-size: 0px;
    font-family: bauhau93;
    transition: 0.3s;
    color: white;
}

#email.active::before{
    content: "Copied";
    font-size: 15px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 60px;
    height: 25px;
    background-color:var(--mainColor1);
    padding-top: 5px;
    text-align: center;
    top: -45px;
    border-radius: 10px;   
}

#email.active::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--mainColor1);
    transform: rotate(45deg);
    top: -20px;
}

.link-box:hover{
    color: white;
    gap: 10px;
}

.link-box:hover p{
    font-size: 25px;
}

.variable-text{
    width: fit-content;
    overflow: visible;
}

.variable-text::after{
    content: " ";
    position: relative;
    display: inline-block;
    width: 4px;
    height: max(3vw, 40px);
    top: 1px;
    right: -2px;

    background-color: white;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 670px) {

    .link-grade{
        top: 60vh;
    }
  }
