#works-page .container{
    width: 100%;
    height: 380px;
    position: relative;
    top: 30%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 60vw;
    padding-left: 10px;
    direction: rtl;
    gap: 10px;
}

.container::-webkit-scrollbar{
    width: 0;
}

.container .card{
    direction: ltr;
    position: relative;
    width: 350px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border:5px solid var(--mainColor1);
    display: flex;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.card-title{
    width: 100%;
    padding: 10px;
    color: white;
    font-family: bauhau93;
    font-size: 30px;
    text-align: center;
}

.card-text{
    width: 100%;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.card-btn{
    width: 150px;
    color: white;
    text-decoration: none;
    margin: 10px;
    border: 5px solid var(--mainColor1);
    font-family: bauhau93;
    text-align: center;
    border-radius: 23px;
    font-size: 25px;
    transition: .5s;
}

.card-btn:hover{
    background-color: var(--mainColor1);
}

.card-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../image/wsmaps.png'); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    clip-path: circle(19px at calc(100% - 30px) 30px);
    transition: 1s;
    
}

.card-img.active{
    clip-path: circle(100% at center center);
}

.card-img-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    font-weight: 900;
    color: white;
    background-color: var(--mainColor2);
    border-radius: 50%;
    border: 5px solid var(--mainColor1);
    transition: .5s;
    cursor: pointer;
    transform: rotate(0);
}

.card-img-btn:hover{
    background-color: var(--mainColor1);
}

.card-img-btn.active{
    transform: rotate(315deg);
}

.end-list{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: bauhau93;
    white-space: nowrap;
    font-size: 40px;
    padding: 10px;
    direction: ltr;
}

@media screen and (max-width: 650px) {

    #works-page .container{
        padding-right: 10px;
    }
  }


